/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

:root {
    --lightBlue: #2a2a40;
    --mediumBlue: #1b1b32;
    --darkestBlue: #0a0a23;
    --lightGray: #d0d0d5;
    --text: #f5f6f7;
    --bttnBox: #feac32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baskervville', serif;
    background-color: var(--darkestBlue);
    color: var(--text);
}

h2 {
    color: var(--bttnBox);
    text-align: center;
}

/* admin.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.option {
    flex: 1 0 45%;
    background-color: var(--bttnBox);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}

.option a {
    text-decoration: none;
    color: var(--mediumBlue);
    font-weight: bold;
}

.option:hover {
    background-color: var(--lightGray);
}

.options-group {
    margin: 2rem;
}


/* create-news.css */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    color: var(--bttnBox);
}

input,
textarea {
    padding: 8px;
    margin: 6px 0 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--lightGray);
    color: var(--mediumBlue);
}

textarea {
    resize: vertical;
}

button {
    background-color: var(--bttnBox);
    color: var(--mediumBlue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--lightGray);
}

.return-btn {
    background-color: var(--bttnBox);
    color: var(--mediumBlue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 2rem;
}

.return-btn:hover {
    background-color: var(--lightGray);
}

.retur-btn-container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-container{
    margin-top: 2rem;
}

/* edit-news.css */

.container-edit-news{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


.returned-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.returned-news form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.returned-news label {
    margin-top: 10px;
    color: var(--bttnBox);
}

.returned-news textarea {
    padding: 8px;
    margin: 6px 0 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--lightGray);
    color: var(--mediumBlue);
    resize: vertical;
}

.returned-news textarea#content {
    height: 200px;
}

.returned-news input,
.returned-news textarea {
    width: 100%;
}

.returned-news button {
    background-color: var(--bttnBox);
    color: var(--mediumBlue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.returned-news button:hover {
    background-color: var(--lightGray);
}

/* delete-news.css */

.delete-news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.delete-news-container h2 {
    color: var(--bttnBox);
    text-align: center;
    margin-bottom: 1rem;
}

.delete-news-container div {
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--bttnBox);
    border-radius: 8px;
}

.delete-news-container p {
    margin-bottom: 0.5rem;
    color: var(--text);
}

.delete-news-container form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1rem auto;
}

.delete-news-container button {
    background-color: var(--bttnBox);
    color: var(--mediumBlue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-news-container button:hover {
    background-color: var(--lightGray);
}

/* show-news.css */

.show-news-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--mediumBlue);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.show-news-container form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.show-news-container label {
    margin-bottom: 5px;
    color: var(--text);
}

.show-news-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--lightGray);
    color: var(--mediumBlue);
}

.show-news-container button {
    background-color: var(--bttnBox);
    color: var(--darkestBlue);
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.show-news-container button:hover {
    background-color: var(--lightGray);
}

.show-news-container h3 {
    color: var(--text);
    margin-top: 20px;
}

.show-news-container ul {
    list-style: none;
    padding: 0;
}

.show-news-container li {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--lightGray);
    padding-bottom: 20px;
}

.show-news-container li:last-child {
    border-bottom: none;
}

.show-news-container p {
    margin-bottom: 10px;
    color: var(--text);
}

.return-btn-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.return-btn {
    background-color: var(--bttnBox);
    color: var(--mediumBlue);
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px; /* Añadido para dar espacio entre las noticias y el botón de retorno */
}

.return-btn:hover {
    background-color: var(--lightGray);
}


/*index.css and news.css*/
header {
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--darkestBlue);
}

nav > a {
    text-decoration: none;
    color: var(--text);
}

.newsLogo {
    width: 3rem;
    height: auto;
}

main {
   display: flex;
   min-height: 80vh;
   background-color: var(--mediumBlue);
   /* flex-direction: column;
   justify-content: space-around;
   align-items: center; */
}

.main-index {
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.news-main {
    padding: 2rem;
    flex-direction: column;
   align-items: center;

}

.news-title{
    color: var(--text);
    font-weight: bold;
}

#carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-block: 3rem;

}

.carousel-item > img, .carousel > div{
    height: 442px;
    width: 750px;
}

.carousel-caption > p {
    height: 100%;
}

.carousel-item > img {
    object-fit: cover;
}

.carousel-inner {
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.568);
}

footer {
    display: flex;
    min-height: 10vh;
    background-color: var(--lightBlue);
    color: var(--text);
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}



.webpage-name {
    color: var(--text);
    margin-top: 1rem;
    font-weight: bold;
}

.title {
    margin-top: 2rem;
    color: var(--text);
}

.text-container {
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    align-content: center;
    width: 100%;
}

.text-container > a {
    color: var(--darkestBlue);
}

.link-to-news {
    background-color: var(--bttnBox);
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;

}

section {
    color: var(--text);
    width: 90%;
}

.small-news {
    background-color: var(--darkestBlue);
    display: flex;
    padding-right: 2rem;
    width: 100%;
    box-shadow: 0 3px 13px 1px rgb(0,0,0/9%);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.small-news-img {
    height: min(20rem,22rem);
    width: min(20rem,22rem);
    object-fit: cover;

}

.title {
    font-size: 1.3rem;
}

.news-description {
    font-size: 1.1rem;
    text-align: justify;
    margin-top: 2rem;
    color: var(--text);
    margin-bottom: 2rem;
    font-weight: bold;
}

.news-body {
    display: flex;
    flex-direction: column;
    color: var(--text);
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.news-body-img {
    height: 442px;
    width: 750px;
    padding-top: 1rem;
}

