<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Wide News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="/imgs/newsLogo.png" type="image/png">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <nav><a href="/index">Home</a></nav>
<!--    <nav><a href="/index#headlines">Headlines</a></nav>-->
<!--    <nav><a href="/index#local-news">Local News</a></nav>-->
<!--    <nav><a href="/index#international-news">International News</a></nav>-->
<!--    <nav><a href="/index#finance">Finance</a></nav>-->
<!--    <nav><a href="/index#sports-news">Sports</a></nav>-->
<!--    <nav><a href="/index#entertainment">Entertainment</a></nav>-->
    <img src="/imgs/newsLogo.png" alt="newsLogo" class="newsLogo">
</header>
<main class="news-main">
    <h1 class="news-title">
        This girl from Uruguay discovered a Wendigo while streaming
    </h1>
    <img src="https://images.pexels.com/photos/2031727/pexels-photo-2031727.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="spooky-house" class="news-body-img">
    <h3 class="news-description">
        While she was playing Stardew Valley, this streamer invoked by mistake a Wendigo reading a message from a new subscriber.
    </h3>
    <div class="news-body">
        <p>
            The event took place on October 31 in a small town in Uruguay called Atlántida, in the state of Canelones. The streamer, who chose to remain anonymous, was playing the farm game "Stardew Valley" when one of the viewers decided to subscribe to her channel and wrote a strange sentence that the streamer's AI read out loud. To the surprise of the audience, the sentence was a peculiar chat message invoking a Wendigo. The skin crawler appeared behind the streamer, who seemed visibly confused about what was happening. After a brief conversation, the streamer ordered an Uber, and the Wendigo went home without further incident.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum mollitia deleniti tempore officia culpa quae aperiam nemo nulla facilis. Doloribus distinctio itaque pariatur, deserunt consequuntur recusandae deleniti enim blanditiis in?
            Quam eveniet dolor aperiam ipsa, distinctio rem illum? Natus, eveniet a sapiente pariatur quidem, blanditiis minima aspernatur cupiditate excepturi iure explicabo repellendus officiis, omnis illo recusandae ut molestiae inventore et.
            Tempore quidem sequi est? Unde odit, iusto ad perspiciatis doloribus accusantium totam ipsum possimus! Dolor molestiae iste praesentium, quasi voluptatum delectus blanditiis nesciunt odio reprehenderit officia adipisci ratione optio nam.
            Nulla, facere ullam, sunt dolores veritatis nihil harum repudiandae eius tenetur modi excepturi iusto. Assumenda magni modi, sed harum optio laboriosam nam? Nisi quae dolor excepturi, dolore quisquam est sunt!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perspiciatis possimus dolore culpa natus, quam rerum repellat exercitationem. Dolor aut, repellat at possimus nisi velit facere hic officiis tempore reprehenderit.
            Quidem optio magni, iure, explicabo odio, accusamus quas eligendi ipsa dolores dolorem ex. Recusandae cupiditate eum ratione quidem, cum ullam, accusamus quis, fugiat dolores repellat mollitia. Alias architecto molestias quia.
            Error, molestiae amet. Dicta iure expedita earum perspiciatis quo reiciendis, ullam iusto accusantium id inventore natus tempora nobis et facilis nesciunt maiores ex modi, vitae, eius iste ducimus quod! Consequatur.
            Earum, porro similique! Quo, nam perspiciatis eligendi saepe optio magni corporis minus placeat, aut nobis eveniet incidunt ut, beatae porro. Rem repellat quia dolores dolor culpa officiis quaerat iure perspiciatis.
            Dolor, earum? Dolorum, obcaecati sunt! Culpa hic tenetur saepe repellat est excepturi error voluptas? Perspiciatis, atque voluptates et laboriosam dolorem, obcaecati quos ab in error illum tempore eligendi ea quas.</p>
    </div>


</main>
<footer>
    <p>Contact: info@worldwidenews.com</p>
    <p>&copy;2023 World Wide News</p>
</footer>
</body>
</html>